
.inner-class{
   width: 400px;
   height: 600px;
   margin-top: 50px;
   background-color:rgb(77, 75, 75);
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 10px;
   padding: 10px;
   box-shadow:5px 5px 0 rgb(176, 172, 172) ;
}
.company h1{
   text-align:right ;
    margin-right: 10px;
    color: white;
}
.solar{
   display: flex;
   flex-direction: row;
   justify-content: end;
   
}
.s1, .s2, .s3, .s4{
   width: 50px;
   height: 30px;
   border:1px solid black;
   background: rgb(226, 193, 72);
   
}
.display{
   margin-top: 25px;
   width: 385px;
   height: 50px;
   background:rgb(216, 249, 166) ;
   border: 3px solid black;
   padding: 5px;
   border-radius: 5px;
}
.first-row{
   width: 485;
   margin-top: 25px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.fi, .se, .th, .fo, .fif{
   width: 50px;
   background-color: rgb(195, 192, 192);
   text-align: center;
   font-weight: bold;
   border-radius: 10px;

}